{% extends "index.html" %}
{% set userNameCurrent=user %}
{% block status_editTemp %}

<section id="section1" class="container-fluid bg bg-lighta border-double border-double">
    <div class="row">
        <form class="col-lg-2" action="{{url_for('DIY_statusWrapper')}}">
            <div class="form-group">
              <button class="btn btn-dark btn-sm" href=""><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</button>
            </div>
        </form>
        <div class="sec_title">
          <h6>DIY Status Management</h6>
        </div>
      </div>
    {% for s in statlist %}
    <form class="form-horizontal col-xs-12 col-lg-12 col-md-12 col-sm-12 mt-2" method="POST" action="{{url_for('update_status_code_records')}}" id="diye" name="wform" >
      <input type="hidden" class="form-control bg bg-light" id="id" placeholder="Id" value="{{s['_id']}}" name="id">
      <fieldset class="sec1">
        <legend align="left">Edit Status</legend>
        <div class="row">
          <div class="input-group col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-1 pr-0">
          <div class="input-group-prepend">
            <span class="input-group-text" id="status-code">Status Code</span>
          </div>
           <input type="text" class="form-control" aria-describedby="status-code" id="statuscode" placeholder="Status" name="statuscode" value="{{s['status_code']}}" required>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
            <button type="Submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </fieldset>
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"></div>
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"></div>
   </form>
   {% endfor %}
</section>
{% endblock %}